*.aux
*.dot
*.ps
*.lof
*.log
*.lot
*.out
*.pdf
*.synctex*
*.thm
*.toc

.vscode/ipch
.vscode/tasks.json

*.exe
*.ilk
*.pdb

ComputerSystemsAProgrammersPerspective/include/csapp.c
ComputerSystemsAProgrammersPerspective/include/csapp.h
ComputerSystemsAProgrammersPerspective/include/csapp.o

cmake-build-debug
cmake-build-debug-wsl
.idea
